/* Importation des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Sora:wght@600;700&display=swap');

/* Variables CSS pour la palette de couleurs et les styles globaux */
:root {
    /* --- Palette de Couleurs --- */
    --bg-main: #051424;
    --bg-surface: #122131;
    --bg-surface-variant: #273647;
    --bg-surface-lowest: #010f1f;

    /* --- Couleurs d'Accentuation --- */
    --accent-primary: #00f5ff;
    --accent-primary-light: #e9feff;
    --accent-primary-dark: #00dce5;

    /* --- Couleurs de Texte --- */
    --text-main: #d4e4fa;
    --text-muted: #b9caca;


    /* --- Typographie --- */
    --font-heading: 'Sora', sans-serif;
    --font-body: 'Inter', sans-serif;

    /* --- Transitions --- */
    --transition-fast: 0.2s ease-in-out;
    --transition-normal: 0.3s ease-in-out;
}

/* Reset du CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles de base pour le document */
html {
    scroll-behavior: smooth; /* Défilement fluide pour les ancres */
    color-scheme: dark; /* Indique que le thème est sombre pour les navigateurs compatibles */
    scrollbar-width: thin;
    scrollbar-color: var(--accent-primary-dark) var(--bg-surface); /* Couleurs pour les navigateurs compatibles */
}

/* Styles de base pour le corps du document */
body {
    background-color: var(--bg-main);
    font-family: var(--font-body);
    color: var(--text-main);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased; /* Améliore le rendu des polices sur les navigateurs WebKit */
    overflow-x: hidden; /* Empêche le débordement horizontal */
    scrollbar-width: thin;
    scrollbar-color: var(--accent-primary-dark) var(--bg-surface);
}

/* Styles pour la barre de défilement du site */
html::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* Style pour la piste de la barre de défilement */
html::-webkit-scrollbar-track {
    background: var(--bg-surface);
}

/* Style pour la partie défilante de la barre de défilement */
html::-webkit-scrollbar-thumb {
    background: var(--bg-surface-variant);
    border-radius: 999px;
    border: 3px solid var(--bg-surface);
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--accent-primary-dark);
}

/* Image responsive de base */
img {
    max-width: 100%;
    display: block;
}

/* Styles pour les titres */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--accent-primary-light);
    line-height: 1.2;
    margin-bottom: 1rem;
}

/* Styles pour les paragraphes */
p {
    color: var(--text-muted);
    margin-bottom: 1rem;
    font-size: large;
}

/* Styles pour les liens */
a {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-fast);
}

/* Styles pour les éléments interactifs */
a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
    outline: 2px solid var(--accent-primary);
    outline-offset: 3px;
}

/* Styles pour les boutons */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.95rem 2rem;
    font-weight: 600;
    font-size: 0.975rem;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

/* Bouton Principal (Call To Action) */
.btn-primary {
    background-color: var(--accent-primary);
    color: var(--bg-main);
    transition: all var(--transition-normal);
}

.btn-primary:hover {
    box-shadow: 0px 0px 15px rgba(0, 245, 255, 0.25);
    transform: translateY(-2px);
    transition: all var(--transition-normal);
}

/* Bouton Secondaire (Outline) */
.btn-outline {
    background-color: transparent;
    color: var(--text-main);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all var(--transition-normal);
}

.btn-outline:hover {
    background-color: var(--bg-surface-variant);
    border-color: transparent;
    transition: all var(--transition-normal);
}

/* Effet de verre (Glassmorphism) */
.glass-effect {
    background-color: rgba(31, 41, 55, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* Compatibilité Safari */
    border: 1px solid rgba(255, 255, 255, 0.1);
}

