/* Importation des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Sora:wght@600;700&display=swap');

:root {
    /* --- Palette de Couleurs --- */
    --bg-main: #051424;
    /* Arrière-plan général */
    --bg-surface: #122131;
    /* Arrière-plan des sections/cartes */
    --bg-surface-variant: #273647;
    /* Arrière-plan secondaire (survol, bordures) */
    --bg-surface-lowest: #010f1f;
    /* Arrière-plan alternatif ultra sombre */

    /* --- Couleurs d'Accentuation --- */
    --accent-primary: #00f5ff;
    /* Cyan vibrant (Boutons, Icônes) */
    --accent-primary-light: #e9feff;
    /* Cyan très clair (Gros Titres) */
    --accent-primary-dark: #00dce5;
    /* Cyan assombri (Dégradés) */
    
    /* --- Couleurs de Texte --- */
    /* Texte courant */
    --text-main: #d4e4fa;
    /* Sous-titres, descriptions */
    --text-muted: #b9caca;


    /* --- Typographie --- */
    --font-heading: 'Sora', sans-serif;
    --font-body: 'Inter', sans-serif;

    /* --- Transitions --- */
    --transition-fast: 0.2s ease-in-out;
    --transition-normal: 0.3s ease-in-out;
}
/* Reset du CSS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* Défilement fluide pour les liens d'ancrage */
}

body {
    background-color: var(--bg-main);
    font-family: var(--font-body);
    color: var(--text-main);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

/* Variables globales du site */

/* Image responsive de base */
img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--accent-primary-light);
    line-height: 1.2;
    margin-bottom: 1rem;
}

p {
    color: var(--text-muted);
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-fast);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.95rem 2rem;
    font-weight: 600;
    font-size: 0.975rem;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

/* Bouton Principal (Call To Action) */
.btn-primary {
    background-color: var(--accent-primary);
    color: var(--bg-main);
    transition: all var(--transition-normal);
}

.btn-primary:hover {
    box-shadow: 0px 0px 15px rgba(0, 245, 255, 0.25);
    transform: translateY(-2px);
    transition: all var(--transition-normal);
}

/* Bouton Secondaire (Outline) */
.btn-outline {
    background-color: transparent;
    color: var(--text-main);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all var(--transition-normal);
}

.btn-outline:hover {
    background-color: var(--bg-surface-variant);
    border-color: transparent;
    transition: all var(--transition-normal);
}