/* Header Styles */ 
#header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Header Logo and Title Styles */
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    text-align: center;
    margin-left: 4%;
}

/*image style for header logo*/
.header-logo img {
    height: 30px;
    width: 30px;
}

/* Header Title styles */
.header-logo .header-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

/* Header Navigation Styles */
.header-navbar {
    width: auto;
    margin-right: 4%;
}

/* Header Navigation List Styles */
.header-navbar ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 25px;
    list-style: none;
    padding: 10px;
}

/*header button styles*/
#header .menu-button {
    display: none;
    width: 30px;
    background-color: transparent;
    margin-right: 5%;
    border: none;
    cursor: pointer;
}

/* header links styles */
.header-navbar ul li a {
    color: var(--text-main);
    width: auto;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.header-navbar ul li a:hover {
    font-weight: 700;
}

.header-navbar ul li a::before {
    content: " ";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 1.5px;
    background: var(--text-main);
    width: 0%;
    transition: 0.4s;
}

.header-navbar ul li a:hover::before {
    width: 100%;
}

.header-navbar ul li a:active {
    color: var(--accent-primary-dark);
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    .header-navbar {
        position: absolute;
        top: 80px;
        right: 5px;
        left: 5px;
        visibility: hidden;
        width: auto;
        overflow: hidden;
    }

    #header .header-logo img {
        height: 30px;
        width: 30px;
        padding-bottom: 3px;
    }

    #header .header-title {
        font-size: 15px;
        font-weight: bold;
    }

    #header .menu-button {
        display: block;
    }

    #header .menu-button:hover~.header-navbar,
    #header .menu-button:focus~.header-navbar {
        visibility: visible;
    }

    .header-navbar:hover {
        visibility: visible;
    }

    .header-navbar ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px 10px 5px 10px;
        border-radius: 0px 0px 10px 10px;
        line-height: 1.5;
        background-color: rgba(31, 41, 55, 0.803);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 2px solid rgba(255, 255, 255, 0.1);
    }

    .header-navbar ul li {
        text-align: left;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
}

/* Responsive Styles for Tablets */
@media (max-width: 1024px) {
    .header-navbar {
        margin-right: 0px;
    }
}
